@import '@/styles/_variables.sass'
// @import '@/styles/_reset.sass'

.list-clean
    margin: 0
    padding: 0
    list-style: none
.current-button
    color: $basic-white
    background-color: $accent
    padding: 6px 12px
    border-radius: 5px
    text-align: center
    border: 1px solid $accent
    font-size: 14px
    cursor: pointer
    transition: 0.3s
    &:hover
        background-color: $basic-white
        color: $accent
