@import '@/styles/_variables.sass'
// @import '@/styles/_reset.sass'

.list-clean
    margin: 0
    padding: 0
    list-style: none
.current-button
    color: $basic-white
    background-color: $accent
    padding: 6px 12px
    border-radius: 5px
    text-align: center
    border: 1px solid $accent
    font-size: 14px
    cursor: pointer
    transition: 0.3s
    &:hover
        background-color: $basic-white
        color: $accent
.overlay 
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 100
    cursor: pointer
    overflow: auto
h1
    margin: 10px 0
    font-size: 24px
    line-height: 25px
    color: $accent